body {
  /* margin: 0; */
  text-align: center;
}

.task {
  max-width: 400px;
  background-color: #555;
  color: #fff;
  margin: 10px auto;
  text-align: left;
  border-radius: 2px;
  font-size: 1.5rem;
}

p {
  margin: 10px auto;
  padding: 5px 10px;

}